body {
  color: white;
  text-shadow: rgb(0, 0, 0);
  background-color: rgb(27, 27, 27);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
  color: rgb(255, 80, 80);
  font-weight: 900;
  padding-left: 8px;
}
nav {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul {
  position: absolute;
  right: 30px;
  top: 20px;
  background-color: rgb(27, 27, 27);
  padding-left: 5px;
}
ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 10px;
  transition: 0.4s;
}
ul li:hover {
  transform: scale(1.2, 1.2);
  background-color: rgb(255, 80, 80);
}
ul li a {
  font-weight: bold;
  text-decoration: none;
}
.line {
  background-color: whitesmoke;
  height: 2px;
  width: 100%;
}
.info {
  width: 55%;
  display: inline-block;
  margin-top: 180px;
  margin-left: 50px;
}
.info h6 {
  margin: 0px 0px 0px 0px;
  font-size: 25px;
  border-left: 3px solid rgb(255, 80, 80);
  padding-left: 30px;
}
.info h6:hover {
  transition: 0.5s;
  transform: translateX(10px);
}
.info p {
  text-align: justify;
}
.myimage {
  opacity: 0.5;
  width: 30%;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 230px;
  right: 30px;
}
.myname {
  font-size: 70px;
  color: rgb(255, 80, 80);
}
.navbtn img {
  display: none;
}
.contact-form {
  display: flex;
  background-image: linear-gradient(
    rgb(27, 27, 27),
    rgb(27, 27, 27),
    rgb(255, 80, 80)
  );
  padding: 40px 5%;
  margin: 50px 8%;
  border-radius: 10px;
}
input {
  display: inline;
  background-color: rgba(255, 255, 255, 0.103);
  border: 0px;
  height: 45px;
  border-radius: 3px;
  margin: 2px 2px;
}
input:hover {
  background-color: rgba(255, 255, 255, 0.349);
}
input:focus {
  outline: none;
}
input::placeholder {
  color: rgb(255, 250, 250);
  opacity: 0.6;
}
.f1 {
  padding-left: 5%;
  width: 60%;
}
.f2 {
  width: 30%;
  padding-top: 100px;
}

@media screen and (max-width: 700px) {
}
